<div class="footer-basic" th:fragment="footer">
    <footer>
        <div class="social">
            <a href="https://www.youtube.com/c/ftfofficielle" target="_blank" data-an-track="true" data-track-type="link" data-track-text="https://www.tiktok.com/@manutd" >
                <i class="fa fa-youtube"></i>
            </a>
            <a href="https://www.facebook.com/FTF.OFFICIELLE/ " target="_blank" data-an-track="true" data-track-type="link" data-track-text="https://www.facebook.com/manchesterunited " >
                <i class="fa fa-facebook-square"></i>
            </a>
            <a href="https://twitter.com/ftf.officielle/" target="_blank" data-an-track="true" data-track-type="link" data-track-text="https://twitter.com/ManUtd">
                <i class="fa fa-twitter" style="outline: none;"></i>
            </a>
            <a href="http://instagram.com/ftf.officielle/" target="_blank" data-an-track="true" data-track-type="link" data-track-text="http://instagram.com/manchesterunited ">
                <i class="fa fa-instagram" style="outline: none;"></i>
            </a>
            
        </div>
        <div>

            <div class="ec-bottom-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="ec-copyright">
                                  <p><a>© Copyrights 2022 <span>Tunisia CF.</span> All Rights Reserved</a></p>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="ec-right-section">
                                <a href="index.html" class="backtop-btn">Back to top <i class="fa fa-caret-up"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </footer>
</div>  