<header id="ec-header" th:fragment="nav">
          
    <!--// Main Header \\-->
    <div class="ec-main-navsection">
        <div class="container">
            <a href="/tunisiaclubfootball" class="ec-logo"><img src="../asset/images/footLogo.png" height="70" width="70"></a>
            <div class="ec-right-section">
                <nav class="ec-navigation">
                    <ul>
                        <li><a href="/actu">Actualités</a>
                        
                        
                        </li>
                        <li><a href="#">L'Equipe</a>
                            <ul class="as-dropdown">
                                <li><a href="/joueurs">Players</a>
                                   
                                </li>
                                <li><a href="/staff">Staff</a>
                                   
                                </li>
                            </ul>
                        </li>
                        <li><a href="/calendrier">Fixtures</a>
                           
                        </li>
                        
                        
                        
                        
                        <li><a href="/contact">Contactez nous</a></li>
                    </ul>
                </nav>
               
               
            </div>
        </div>
    </div>
    <!--// Main Header \\-->
</header>