<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <div th:replace="fragments/head :: head">
    </div>

<body>
    <!--// Main Wrapper \\-->
    <div class="ec-main-wrapper">
        <div class="ec-loading-section"><div class="ball-scale-multiple"><div></div><div></div><div></div></div></div>
        <!--// Main Header \\-->
        <div th:replace="fragments/nav :: nav">
        </div>
        <!--// Main Header \\-->
        <!--// Main Banner \\-->
        <div class="ec-mainbanner">
            <div class="flexslider">
                <ul class="slides"  >
                
                
                  
                    
                    <li th:if="${news.category == 'Slider' and news.status == true}" th:each="news : ${news}">
                        <img style="width: 1903px;height: 500px;position: relative;"
                        th:src="${news.image_url}"  alt="">
                        <span class="ec-transparent-color"></span>
                        <div class="ec-caption">
                            <div class="container" >
                                <div class="caption-inner-wrap">
                                    <time class="ec-bgcolor" datetime="2008-02-14 20:00" th:text="${news.date}" > </time>
                                    <div class="clearfix"></div>
                                     <h1 th:text="${#strings.abbreviate(news.title,35)}" > </h1>
                               
                               			    <p th:text="${#strings.abbreviate(news.content,60)}" >  </p>
                                    <a th:href=" @{'/article/' + ${news.id}}" target="_blank" class="ec-bgcolor">Read More</a>
                                </div>
                                <div class="ec-caption-image"> <img src="" alt=""> </div>
                            </div>
                        </div>
                    </li>
                   
                   
                   
                </ul>
            </div>
        </div>
        <!--// Main Banner \\-->
        <!--// Main Content \\-->
        <!--// Main Banner \\-->
        <!--// Main Content \\-->
        <div class="ec-main-content">
            <!--// Main Section \\-->
            <div class="ec-main-section ec-newsticker-wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="ec-newsticker">
                                <span class="ec-color"><small>Latest News</small></span>
                                <ul id="ec-news">
                                    <li><a href="#">CAN 2020: Le Cameroun troisième après une Remontada face aux Etalons</a></li>
                                   
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--// Main Section \\-->
         
          
         </br></br></br>
            <!--// Main Section \\-->
<div class="ec-main-section blog-grid-full">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="ec-simple-title">
                                <h2>Welcome To Our Gallery</h2>
                                
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="ec-gallery ec-simple-gallery">
                                <ul class="row gallery">
                                    <li class="col-md-4">
                                        <figure>
                                            <a href="#"><img style="width:350px ;height:300px ;" src="asset/extra-images/gallery-list-1.png" alt=""></a>
                                            <figcaption>
                                                <a title="" rel="prettyPhoto[gallery1]" href="asset/extra-images/gallery-list-1.PNG" class="ec-color"><i class="fa fa-compress"></i></a>
                                            </figcaption>
                                        </figure>
                                    </li>
                                    <li class="col-md-4">
                                        <figure>
                                            <a href="#"><img style="width:350px ;height:300px ;" src="asset/extra-images/gallery-list-2.jpg" alt=""></a>
                                            <figcaption>
                                                <a title="" rel="prettyPhoto[gallery1]" href="asset/extra-images/gallery-list-2.jpg" class="ec-color"><i class="fa fa-compress"></i></a>
                                            </figcaption>
                                        </figure>
                                    </li>
                                    <li class="col-md-4">
                                        <figure>
                                            <a href="#"><img style="width:350px ;height:300px ;" src="asset/extra-images/gallery-list-3.jpg" alt=""></a>
                                            <figcaption>
                                                <a title="" rel="prettyPhoto[gallery1]" href="asset/extra-images/gallery-list-3.jpg" class="ec-color"><i class="fa fa-compress"></i></a>
                                            </figcaption>
                                        </figure>
                                    </li>
                                    <li class="col-md-4">
                                        <figure>
                                            <a href="#"><img style="width:350px ;height:300px ;" src="asset/extra-images/gallery-list-4.jpg" alt=""></a>
                                            <figcaption>
                                                <a title="" rel="prettyPhoto[gallery1]" href="asset/extra-images/gallery-list-4.jpg" class="ec-color"><i class="fa fa-compress"></i></a>
                                            </figcaption>
                                        </figure>
                                    </li>
                                    <li class="col-md-4">
                                        <figure>
                                            <a href="#"><img style="width:350px ;height:300px ;" src="asset/extra-images/gallery-list-5.jpg" alt=""></a>
                                            <figcaption>
                                                <a title="" rel="prettyPhoto[gallery1]" href="asset/extra-images/gallery-list-5.jpg" class="ec-color"><i class="fa fa-compress"></i></a>
                                            </figcaption>
                                        </figure>
                                    </li>
                                    <li class="col-md-4">
                                        <figure>
                                            <a href="#"><img style="width:350px ;height:300px ;" src="asset/extra-images/gallery-list-6.jpg" alt=""></a>
                                            <figcaption>
                                                <a title="" rel="prettyPhoto[gallery1]" href="asset/extra-images/gallery-list-6.jpg" class="ec-color"><i class="fa fa-compress"></i></a>
                                            </figcaption>
                                        </figure>
                                    </li>
                                   
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
 </div>
            <!--// Main Section \\-->




        <div class="ec-main-section ec-full-service">
            <div class="container">
                <div class="row">
                    <!--// Partner \\-->
                    <div class="col-md-12">
                        <div class="ec-sponsored">
                            <div class="item">
                                <a href="#"><img src="asset/extra-images/partner-logo-1.png" alt=""></a>
                            </div>
                            <div class="item">
                                <a href="#"><img src="asset/extra-images/partner-logo-2.png" alt=""></a>
                            </div>
                            <div class="item">
                                <a href="#"><img src="asset/extra-images/partner-logo-3.jpg" alt=""></a>
                            </div>
                            <div class="item">
                                <a href="#"><img src="asset/extra-images/partner-logo-4.png" alt=""></a>
                            </div>
                            <div class="item">
                                <a href="#"><img src="asset/extra-images/partner-logo-5.png" alt=""></a>
                            </div>
                            <div class="item">
                                <a href="#"><img src="asset/extra-images/partner-logo-36.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <!--// Partner \\-->
                </div>
            </div>
        </div>
        <!--// Main Content \\-->
         <!--// Footer \\-->
       
       <div th:replace="fragments/footer :: footer">
         </div>
    
<!--// Footer \\-->
     
    </div>
 
    <!-- ModalLogin Box -->
    <!-- jQuery (necessary for JavaScript plugins) -->
    <script src="asset/script/jquery.js"></script>
    <script src="asset/script/modernizr.js"></script>
    <script src="asset/script/bootstrap.min.js"></script>
    <script src="asset/script/jquery.dlmenu.js"></script>
    <script src="asset/script/flexslider-min.js"></script>
    <script src="asset/script/jquery.prettyphoto.js"></script>
    <script src="asset/script/waypoints-min.js"></script>
    <script src="asset/script/owl.carousel.min.js"></script>
    <script src="asset/script/jquery.countdown.min.js"></script>
    <script src="asset/script/fitvideo.js"></script>
    <script src="asset/script/newsticker.js"></script>
    <script src="asset/script/skills.js"></script>
    <script src="asset/script/functions.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script>
    var options = {
        newsList: "#ec-news",
        startDelay: 10,
        placeHolder1: ""
    }
    jQuery().newsTicker(options);
    </script>
</body>

</html>
